body {
  text-align: center;
  font-family: Arial, sans-serif;
}

.gameArea {
  border: 1px solid black;
  width: 768px;
  height: 640px;
  margin: 0px auto;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari */
  transform: rotate(180deg);
  text-align: center;
  background-color: #fff3cc;
}

.tower {
  display: inline-block;
  top: 0px;
  width: 248px;
  height: 100%;
  text-align: center;
  font-size: 0px;
}

.disc {
  height: 50px;
  background-color: #006bf7;
  border: 2px solid black;
  display: inline-block;
  z-index: 10;
  position: relative;
  border-radius: 12px;
}

.towerBase {
  height: 18px;
  width: 221px;
  background-color: white;
  border: 2px solid black;
  margin: 0px px 0px 0px;
  z-index: 1;
  left: 10.5px;
  position: absolute;
  display:inline-block;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.towerStem {
  position: absolute;
  height: 610px;
  top: 20px;
  left: 117px;
  background-color: white;
  width: 12px;
  border: 2px solid black;
  border-top: none;
  display: inline-block;
  margin: 0px 0px 0px 0px;
  z-index: 2;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.discContainer{
  top: 22px;
  position: absolute;
  height: 100%;
  width: 248px
}

.pegContainer{
  position: fixed;
  z-index: 5;
}
